/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET DE CONFIGURAÇÕES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway';

}

/* HEADER */
header {
    /* Dimensions */
    height: 12vh;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Style */
    background-color: #023535;
}

/* NAVBAR */
.navbar {
    /* Layout */
    gap: 50px;
    margin-left: 150px;
    position: relative;

    /* Style */
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;

}

.navbar-item {
    padding: 5px;
    transition: all 0.5s;
    top: 0;
    left: 0;
    position: relative;
}

.navbar-item a {
    text-decoration: none;
    color: #fff;
}

/* Hover Navbar */
.navbar-item:hover {
    border: 1px solid #023535;
    border-radius: 2px;
    top: -4px;
    left: -4px;
    box-shadow: 4px 3px 0px 1px #68ddbd;
    background-color: #a4fff7;

}

/* OPTIONS */
.options {
    /* Layout */
    gap: 50px;
    margin-right: 100px;
}

/* MAIN */
main {
    width: 100vw;
    gap: 50px;
}

.container-fluid {
    padding: 0;
}

.carousel-control-prev {
    margin-left: -40px;
}

.carousel-control-next {
    margin-right: -40px;
}

.slide {
    height: 600px;
}

.slide-title {
    color: #FFF;
    position: absolute;
    z-index: 3;
}

.carousel-inner {
    position: relative;
}


.carousel-item img {
    filter: brightness(0.3);
    height: 650px;
    width: 100%;
    
}



.cont_quadros {
    margin-top: 80px;
}

.spacer {
    width: 100%;
    height: 25px;
}

.ods-boxes {
    margin-top: 200px;
}

.spacer {
    height: 50px;
}

.cont_quadros {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /* Número total de colunas */
    grid-template-rows: repeat(2, 1fr);
    /* Duas linhas */
    gap: 18px;
    scroll-behavior: smooth;
    width: max-content;
    /* Ajusta a largura ao conteúdo total */
    overflow: hidden;
    align-items: center;
    max-width: 90%;
    row-gap: 0;
    height: 355px;
}

.quadro {
    width: 200px;
    height: 150px;
    background-color: #f6edff;
    border: 1px solid #03bb85;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease;
    border-radius: 15px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadro:hover {
    transform: scale(0.3px);
    box-shadow: 4px 4px 3px 3px rgb(0, 175, 23, 0.5);
    /* x y  */
    transform: scale(1.1);
}

.quadro_a {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 0;
    color: black;
    text-decoration: none;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 3;
    font-size: 36px;
    width: 30px;
    font-weight: 700;
    transition: .3s ease;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.btn-transparent:hover {
    background-color: #03bb85;
    color: #fff;
}

#scrollLeftButton {
    left: 15px;
    top: -210px;
    display: grid;
    place-items: center;
}

#scrollRightButton {
    left: 1180px;
    top: -270px;
    display: grid;
    place-items: center;
}

/* Social Media */
.social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.banner-social-media img {
    height: 400px;
    width: 400px;
}

.text-social-media {
    height: 350px;
    width: 400px;

}

.social-media-list {
    margin-top: 50px;
    gap: 30px;
    margin-left: 10px;
}

.insta-logo {
    height: 80px;
    width: 80px;

}

.social-media-list li {
    list-style: none;

}

/* Estilo básico para o link */
.social-link {
    text-decoration: none;
    /* Remove sublinhado */
    position: relative;
    /* Para posicionar o pseudo-elemento */
    display: inline-block;
    color: gray;
    /* Cor inicial do texto em cinza */
    transition: color 0.3s ease;
}

.insta-logo {
    height: 60px;
    width: 60px;
    filter: grayscale(100%);
    /* Imagem começa em escala de cinza */
    transition: filter 0.3s ease;
    /* Transição suave para a cor */
}

.social-media-links {
    font-size: 18px;
    /* Tamanho do texto */
    font-weight: bold;
    /* Texto em negrito */
    font-size: 24px;
    color: #6f00ff;
    filter: grayscale(1);
    transition: filter 0.3s ease;
    /* Transição suave */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-media-links {
    transition: .3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Efeito ao passar o mouse */
.social-media-links:hover .insta-logo {
    filter: grayscale(0%);
    /* Remover o grayscale ao passar o mouse */
}

/* Efeito ao passar o mouse */
.social-media-links:hover {
    filter: grayscale(0);
    /* Remover o grayscale ao passar o mouse */
}


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 300px;
    font-family: 'Poppins', sans-serif;
    background-color: #023535;
}

.box h4 {
    color: #fff;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.3%;

}

.logo-sesi {
    scale: 0.5;
}

.ods-logo {
    height: 200px;
    width: 300px;
}

.vertical-line {
    height: 200px;
    opacity: 0.7s;
    width: 2px;
    color: #000;
    background-color: #ececec;
}

.wrapper {
    display: inline-flex;
    margin-top: 20px;
}

.nav-footer {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
}

.nav-footer-items a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    transition: .3s ease;
}

.nav-footer-items a:hover {
    color: #03bb85;
}

/* Estilização das imagens que ocupa a largura da tela, fiz por ID */
.Banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgODS {
    width: 90%;
    height: 500px;
    margin: 15px;
    

}

#imgODS3 {
    width: 90%;
    height: 450px;
    margin: 15px;
}

#imgODS10 {
    width: 90%;
    height: 550px;
    margin: 15px;
}

@media (min-width:320px) and (max-width:768px) {

    .navbar {
        display: flex;
        margin-left: 30px;
    }

    .carousel-control-prev {
        margin-left: 5px;
    }

    .carousel-control-next {
        margin-right: 5px;
    }



    #scrollLeftButton {
        left: 5px;
        top: -210px;

    }

    #scrollRightButton {
        left: 460px;
        top: -270px;

    }


    .social-media {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 150px;

    }

    .banner-social-media {
        opacity: 0.05;
        position: absolute;
    }

    .text-social-media {
        display: grid;
        place-items: center;
        position: absolute;
    }

    .social-media-list {
        margin-left: -40px;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 400px;
    }

    .vertical-line {
        rotate: 90deg;
    }

    .box h4 {
        text-align: center;
    }


}