/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET DE CONFIGURAÇÕES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: #023535;
}

/* HEADER */
header{
    /* Dimensions */
    height: 12vh;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Style */
    background-color: #038554;
    color: #fff;
}
/* NAVBAR */
.navbar{
    /* Layout */
    gap: 50px;
    margin-left: 150px;
    position: relative;

    /* Style */
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
   
}

.navbar-item{
    padding: 5px;
    transition: all 0.5s;
    top: 0;
    left: 0;
    position: relative;
}

/* Hover Navbar */
.navbar-item:hover{
    border: 1px solid #023535;
    border-radius: 2px;
    top: -4px;
    left: -4px;
    box-shadow: 4px 3px 0px 1px #68ddbd;
    background-color: #a4fff7;
    color: #023535;
}

/* OPTIONS */
.options{
    /* Layout */
    gap: 50px;
    margin-right: 100px;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 300px;
    font-family: 'Poppins', sans-serif;
}

.box{
    width: 33.3%;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-sesi{
    scale: 0.5;
}

.ods-logo{
    height: 200px;
    width: 300px;
}

.vertical-line{
    height: 200px;
    width: 2px;
    color: #000;
    background-color: #000;
}
.wrapper{
    display:inline-flex;
    margin-top: 20px;
}

.wrapper .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.wrapper .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.wrapper .icon span i{
    font-size: 25px;
    line-height: 60px;

}

.wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.68,-0.55, 0.265,1.55 );
}

.wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}